//
   Created by Administrator on 2016/3/10.

extends layout

block content
    form(action="aa",method="post",enctype="multipart/form-data")
        input#File1(name="UpLoadFile",type="file")
        input#button1(type="submit",name="button1",value="button")
